body{
    margin-left: 5%;
    background-color: rgb(228, 228, 228);  
}.nav1{
    list-style: none;
    display: flex;
    gap: 2em;
    
}

#furlogo{
    margin-bottom: 20%;
}

.nav2{
    list-style: none;
    display: flex;
    gap: 3em;
}

.mainnav{
    display: flex;
    gap: 15em;
    font-family: 'Halant', serif;
    font-size: 19px;
    margin-top: 3%;

}
.pg1{
    display: flex;
    gap: 10em;
    font-family: 'Halant', serif;
}
.pg1r{
    margin-left: 3%;

}
#findouthow{
    padding: 15px;
    background-image: linear-gradient(to right, #fc6f83, #ff704f);
    border-radius: 15px;
    border-color: #ff704f;
}
#mainh1{
    font-size: 78px;
}
#FIX{
    color: red;
}
#HOME{
    color: red;
}
.shoe1{
    height: 100%;
    width: 40%;
}
#shoe1{
    transform: rotate(-40deg);
    width: 120%;
    height: 100%;
}
.pg2{
    display: flex;
    margin-left: 5%;
    gap: 3em;
}
.puma1{
    display: flex;
    gap: 1em;
    
    width: 30%;
    height: 30%;
}
.nike1{
    display: flex;
    gap: 1em;
    width: 30%;
    height: 30%;
}
.adidas1{
    display: flex;
    gap: 1em;
    width: 30%;
    height: 30%;
}
.shoe2{
    height: 100%;
    width: 40%;
}
.shoe3{
    height: 100%;
    width: 40%;
}
#adidas3{
    width: 20%;
    transform: rotate(-40deg);
}
#nike3{
    width: 20%;
    transform: rotate(-40deg);
}
#puma3{
    transform: rotate(-40deg);
    width: 20%;
}
#fila3{
    width: 20%;
    transform: rotate(-40deg);
}
.fullpage3a{
    display: flex;
    gap: 6em;
}
.ad1{
    border: solid white;
    background-color: white;
}

.shoe1trending{
    background-color: white;
    padding: 8px;
}
.trendingpg2{
    display: flex;
    width: 10%;
    gap: 2em;
}
.footer{
    display: flex;
    gap: 10%; 
    margin-top: 10%;
}
.sec{
    background-color: rgb(253, 116, 116);
    padding-bottom: 2px;
}
#rights{
    text-align: center;
}

.lorem{
    margin-left: 5%;
}
.company{
    list-style: none;
}

.contact{
    list-style: none;
}
.more{
    list-style: none;
}
#gplay{
    width: 20%;
    }
    #appstore{
    width: 20%;
    }
.icons{
    list-style: none;
    margin-top: 7%;
    display: flex;
    gap: 1em;
}
#adidastrending{
    width: 70%;
    rotate: -40deg;
}
.a1{
    display: flex;
    gap: 3em;
}
.a2{
    display: flex;
    gap: 3em;
}
.fullpage3b{
    display: flex;
    gap: 6em;
}
#seemore{
    margin-left: 40%;
    margin-top: 3%;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
}
#newarrival{
    text-align: center;
}

.pg4{
    display: flex;
    gap: 3em;
}

.shoef1{
    display: flex;
    border-radius: 25px;
}

#f1{
    width: 40%;
    border-radius: 25px;
}

 .f1txt{
        text-align: center;
 }

 .buttons1{
    display: flex;
    justify-content: center;
    gap: 1em;
}

#buynow{
    padding: 6px;
    margin-bottom: 3%;
    background-color: rgb(243, 23, 59);
    border-color: rgb(243, 23, 59) ;
    color: white;
    border-radius: 5px;
}
#addtocart{
    padding: 6px;
    margin-bottom: 3%;
    border-color: rgb(243, 23, 59) ;
    border-radius: 5px;
}

.shoef2{
    display: flex;
    border-radius: 25px;
}

#f2{
    width: 40%;
    border-radius: 25px;
    }

 .f2txt{
        text-align: center;
}

.buttons2{
    display: flex;
    justify-content: center;
    gap: 1em;
}
#buynow1{
    padding: 6px;
    margin-bottom: 3%;
    background-color: rgb(243, 23, 59);
    border-color: rgb(243, 23, 59) ;
    color: white;
    border-radius: 5px;
}
#addtocart1{
    padding: 6px;
    margin-bottom: 3%;
    border-color: rgb(243, 23, 59) ;
    border-radius: 5px;
}

.test{
    display: flex;
    gap: 28em;
    margin-top: 5%;
}

.secondlast{
    text-align: center;
    border: solid  rgb(246, 187, 246);
    background-color: rgb(246, 187, 246);
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 20px;
}
#mail{
padding: 10px;
border-radius: 10px;
}

#submit{
    padding: 10px;
    border-radius: 10px;
}
#mainshoetrending{
    width: 20%;
    background-color: white;
    border-radius: 5%;
}
#s1p3{
    width: 15%;
}
#s2p3{
    width: 10%;
}
#s3p3{
    width: 15%;
}
.trendinggs{
   display: flex;
   width: 60%;
   height: 30%;
}

a{
    color: black;
}
.txt2p3{
 position: relative;
 margin-left: -145%;
 margin-top: -5%;
 
}
.shoestrending{
    width: 45%;
}

.shoetrending{
    background-color: white;
}
#minimal{
    color: red;
}
.sizes{
    display: flex;
    gap: 3em;
}
#s{
    border: solid red;
    border-radius: 50%;
}
.sizess{
    display: flex;
    gap: 5px;
}
#buttorder{
    padding: 13px;
    border: solid 2px red;
    color: red;
    border-radius: 7px;

}
#product{
    color: grey;
}
@media screen and (max-width: 710px){
    .footer{
       gap: 5%;
    }
.fullpage3a{
    gap: 1em;
}
.fullpage3b{
    gap: 1em;
}
.shu{
    width: 500%;
}
.shoef1{
    width: 100%;
}
.f1{
    width: 80%;
}
.mainnav{
    gap: 1em;
}
.nav1{
    gap: 1em;
}
}

